*.apk
*.ap_
*.dex
*.class
/bin/
/gen/
local.properties
build.properties
/GrocerySync-Android/build/
/GrocerySync-Android/src/main/res/.DS_Store
/.gradle/
/.idea/
/.DS_Store
/GrocerySync-Android/.DS_Store
/GrocerySync-Android/GrocerySync-Android-GrocerySync-Android.iml
/.idea/misc.xml
/GrocerySync-Android.iml
*.iml
\#*
*~
.#*
\#*\#
*.class
/.DS_Store
build