[submodule "CBLite"]
	path = CBLite
	url = https://github.com/couchbase/couchbase-lite-android-core.git
[submodule "CBLiteConsole"]
	path = CBLiteConsole
	url = https://github.com/couchbaselabs/CBLiteConsole.git
